/* Google Map Styles */
#map {
  height: 500px;
  width: 100%;
}

#hybrid {
  height: 500px;
  width: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #aed581;
}

main {
  flex: 1 0 auto;
}

span {
  position: absolute;
  top: 5px;
  left: 5px;
}

.pathfinder {
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}

.center {

  margin-left: 45%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 0px;

}

h1 {
  /* font-family: 'Times New Roman', Times, serif */
  font-family: 'Roboto', sans-serif;
}

#about {
background-color: white;
margin-top: 20px;
margin-bottom: 20px;
padding: 20px;
}

h4 {
  font-size: 175%;
}
