/* Google Map Styles */
#map {
    height: 500px;
    width: 100%;
}

#hybrid {
  height: 500px;
  width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  }

  main {
    flex: 1 0 auto;
  }

span {
  position: absolute;
top: 5px;
left: 5px;
}

.pathfinder{
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}
