/* Google Map Styles */
#map {
    height: 500px;
    width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  @media screen and (max-width: 600px) {
    iframe {
      width: 390px;
      height: 300px;
    }
  }